[MASTER]
ignore = venv, .git  # Игнорируемые папки

[MESSAGES CONTROL]
disable = 
      C0103,      # Conform to snake_case style
      C0114,      # Missing module docstring
      C0115,      # Missing class docstring
      C0116,      # Missing function or method docstring
      C3001,      # Lambda expression assigned to a variable.
      W0102,      # Dangerous default value
      R0913,      # Too many arguments

[FORMAT]
max-line-length = 120

[pylint.messages_control]
max-statements = 60